# app config

PORT  # port on which the application will running

# MYSQL database configs

DB_USER  # MySQL database user
DB_PASSWORD  # MySQL database password
DB_NAME  # MySQL database name
DB_HOST  # MySQL database host

# secret to generate and verify jwt token

SECRET # Secret,  Used for authentication